{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" class="lana-admin-brand">
        <img src="{% static 'lana_logo.png' %}" alt="Lana" class="lana-admin-logo">
        <span class="lana-admin-title">Administrador Chat Lana</span>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
